@import "src/global-styles";

.border-block {
  background-color: $primary;
  height: 15vh;
}

.landing-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  width: auto;
  background-color: whitesmoke;

  .text-box {
    align-self: center;
    justify-self: center;

    .landing-page-icon {
      font-size: 5em;
      width: 80%;
      text-align: center;
      color: purple;
    }

    .title-text {
      font-size: 3em;
      font-weight: 900;
      padding: 1em 0 1em 0;
      color: purple;
    }

    .subtitle-text {
      font-size: 1.5em;
      font-weight: 500;
      color: dimgrey;

      span {
        display: flex;
        padding: .25em 0 .25em 0;
      }
    }
  }

  .sign-on {
    align-self: center;
    justify-self: center;
  }
}
