@import "../../global-styles.scss";


.chord-identifier {
 margin: 2em;

 .title-text {
 font-size: xx-large;
 font-weight: lighter;
 }

 .chord-detection {
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(2, auto);

 .chord {
  margin: 3em 3em 0 3em;
   height: 13em;
   width: 13em;
   background-color: white;
   color: gray;
   align-items: center;
   justify-content: space-around;
   display: flex;

   .chord-text {
    text-align: center;

     &.chord-name {
       font-size: xx-large;
       font-weight: 500;
     }

     &.chord-placeholder {
       font-size: x-large;
       font-weight: 400;
     }
   }
 }

 .dialog-buttons {
  align-items: center;
  max-width: fit-content;
  display: grid;
  grid-template-columns: 1fr;

  button {
    height: 3em;
  }
 }
}
}

.saved-chords-dialog {
  margin: 10em;
  }

